// with options
// takes json, so double quote everything
{
    // "plugins": [["transform-remove-console", { "exclude": ["error", "warn"] }]]
    "presets": [
        ["@babel/preset-env", {"targets": {"node": "current"}}],
        ["@babel/preset-react", {"runtime": "automatic"}]
    ]
}