:root{
    --primary-color: #DC5537;
}

#root {
    max-width: 80rem;
    margin: auto;
}

#container {
    background-color: red;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* justify-content: center; */
}

.nav-lists {
    display: flex;
    align-items: center;
}

.nav-lists > p {
    padding: 0.8rem;
}

.logo {
    width: 3rem;
}

.search-toolbar {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0rem;
}

.primary-btn{
    background-color: var(--primary-color);
    border: none;
    padding: 0.8rem 1rem;
    color: white;
    cursor: pointer;
}

.search-toolbar > button {
    margin-left: 15px;
    background-color: var(--primary-color);
    border: none;
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
    color: white;
    cursor: pointer;
}

.search-bar {
    border: none;
    border-bottom: 1px solid black;
    width: 15rem;
    padding: .2rem;
    width: 60%;
}

.search-bar:focus {
    color: black;
    outline: black;
}

.center-text {
    text-align: center;
}

.grid-list {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
}

@media (min-width:780px) {
    .grid-list {
        grid-template-columns: repeat(3, minmax(0, 3fr));
    }
}

@media (min-width:1240px) {
    .grid-list {
        grid-template-columns: repeat(4, minmax(0, 4fr));
    }
}

/* .card {
    border-radius: 1rem;
} */

/* @media (min-width:80rem) {
    .card {
        max-width: 270px;
    }
} */

.card > img {
    width: 100%;
    /* border-top-left-radius: 1rem;
    border-top-right-radius: 1rem; */
    /* border-radius: 1rem; */
}

.card:hover{
    border-color: #85878f;
    box-shadow: 0 4px 7px 0 rgba(178, 179, 185, 0.6);
}

.card-details {
    padding: 0.5rem;
}


.shimmer-search {
    height: 2rem;
    width: 100%;
    display: flex;
    margin: 1rem 0rem;
    animation: pulse-bg 3s infinite;
    border-radius: 1rem;
}

.shimmer-card {
    padding-top: 65%;
    border-radius: 1rem;
    animation: pulse-bg 3s infinite;
}

@keyframes pulse-bg {
    0% {
      background-color: #bfbfbf;
    }
    50% {
      background-color: #d9d9d9;
    }
    100% {
      background-color: #bfbfbf;
    }
  }

.link-reformat {
    text-decoration: none;
    color: initial;
}

.login-container {
    max-width: 540px;
    margin: auto;
    padding: 1rem;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form > input {
    margin-bottom: 2rem;
    border: none;
    border-bottom: 1px solid black;
    padding: .2rem;
}


footer {
    background-color: rgb(27, 25, 25);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 1rem;
    margin-top: 1rem;
}